.inputNaturalLanguage {
    font: 30px "Century Gothic", Futura, sans-serif;
}

.paramText {
    background-color: lightblue;
    text-align: center;
}

.removeButton {
    position: absolute;
    top: -20px;
    cursor: pointer;
    border-radius: 50%;
}

.container {
    position: relative;
    display: inline-block;
}

.paramData {
    /*position: absolute;*/
    position: relative;
    top: 20px;
    left: 0px;
    padding: 10px;
    margin-bottom: 30px;
}

.paramDataChunk {
    margin-bottom: 10px;
}

.itemContainer {
    vertical-align: top;
}

.possibleValuesArea {
    display: block;
}

.request {
    margin: 40px;
}

.displayNone {
    display: none;
}

.editBackground {
    background-color: lightyellow;
}