.nextButton {
    font-size: xx-large;
    cursor: pointer;
    padding: 10px;
    position: relative;
    /*left: 90%;*/
    margin: 10px;
    display: inline;
}

.incompleteForm {
    border: 1px solid red;
}

.textInstructions {
    font-size: x-large;
    padding: 10px;
    display: inline;
}