.nextButton {
    font-size: xx-large;
    cursor: pointer;
    padding: 10px;
    position: relative;
    /*left: 90%;*/
    margin: 10px;
    display: inline;
}

.incompleteForm {
    border: 1px solid red;
}

.textInstructions {
    font-size: x-large;
    padding: 10px;
    display: inline;
}

.tutorialArea {
    border-bottom: 3px solid black;
}

.taskArea {
    margin-top: 50px;
}

.resultItem {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}